html,
body {
    height: 100%;
    font-size: 18px;
    font-family: EndzoneSans,Helvetica,Arial,sans-serif;
   
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    background-color: ghostwhite;
}

.wrap > .container {
    padding: 70px 15px 20px;
    background-color: ghostwhite;
}

.footer {
    bottom:0;   
    left:0;
    height: auto;
    background-color: #1d2124;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    text-align: center;
    color: #999;
    font-size: 16px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'EndzoneSans,Helvetica,Arial,sans-serif';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
/*----------------------------------------------------------------------*/
/*Barra de navegacion*/
.navbar-inverse {
    background-color: #013369;
    border-color: #fdf7f7;
}
/*Menu cuando esta seleccionado*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #002752;
    background-color: #fff;
}
/*Letras del menu*/
.navbar-inverse .navbar-nav > li > a {
    color: lightgrey;
}
/*Hover del despregable*/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: red;
    background-color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #002752;
    background-color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: white;
    background-color: transparent;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #027de7;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #027de7;
    text-decoration: none;
    background-color: white;
    outline: 0;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 19px;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    margin-top: 150px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
/*-------------------------------------------------------------------*/
/*Contenido*/
h1, .h1 {
    font-size: 36px;
    text-align: center;
    font-family: EndzoneSans,Helvetica,Arial,sans-serif;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-bottom: 30px;
    margin-top: 30px;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-bottom: 30px;
    margin-top: 30px;
    position: static;
}
/*--------------logo--------*/
img {

}
.nfl-o-matchup-group .d3-o-section-title {
    border-bottom: none;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.nfl-c-matchup-strip {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    border-radius: 4px;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #fff;
    color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: 100%;
    overflow: hidden;
}
.nfl-c-matchup-strip__game {
    min-width: 180px;
    max-width: 550px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
 
.acceso{
    border: grey 3px solid; 
    margin-bottom: 50px;
    padding: 10px 10px 10px 10px;
    
}
.logo{
        width: 60px;
}
.news{
    width: 600px;
    height: 300px;
    padding-right: 20px;
}
.text_url{
    font-size:28px;
   color: #ccc;
}
hr{
    background-color:grey;
    height: 3px;
}